.relatedAppPackageList {
  list-style-type: none;
  padding: 0;
}

.relatedAppPackageList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
