.header {
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header > :first-child {
  flex: 1;
}

.content {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 2rem;
}

.content h2 {
  line-height: 1;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: var(--fw-bold);
}

.description {
  margin-bottom: 3rem;
}

.sidebar section {
  margin-bottom: 3rem;
}

.apkSection {
  background-color: var(--clr-primary);
  border-radius: var(--br-regular);
  color: white;
  padding: 1rem;
}

.apkSection img {
  filter: brightness(0) invert(1);
}

.options {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
