.header h1 {
  margin-bottom: 1rem;
}

.headerOptions {
  display: flex;
  justify-content: space-between;
}

.appPackagesTable {
  border-collapse: collapse;
}

.appPackagesTable :is(th, td) {
  text-align: center;
  padding: 1rem;
}

.appPackagesTable :is(th, td):first-child {
  text-align: left;
}

.appPackagesTable th {
  border-bottom: 1px solid #ccc;
}

.appPackagesTable td {
  border-bottom: 1px dashed #ddd;
}

.appPackagesTable td:last-child {
  border-left: 1px dashed #ddd;
}