.headerContainer {
  background-color: hsl(216, 15%, 94%);
  padding: 1rem 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--clr-text);
  text-decoration: none;
}

.title:hover {
  color: var(--clr-primary);
}